/* Issue Eight - Love Circles */
.issue-eight {
  z-index: 9;

  background-image: url("../media/img/issue-eight/i8_banner.png");
  background-position: 50% 72%;
  background-size: cover;
}

/* Issue Seven - Cloudy New Year */
.issue-seven {
  z-index: 8;

  background-image: url("../media/img/issue-seven/i7_banner.png");
  background-position: 50% 72%;
  background-size: cover;
}

.issue-seven h2,
.issue-seven p {
  color: black;
}

/* Issue Six - In the Thick of It */
.issue-six {
  z-index: 7;

  background-image: url("../media/img/issue-six/i6_banner.png");
  background-position: 50% 72%;
  background-size: cover;
}

.issue-six h2,
.issue-six p {
  color: black;
}

/* Issue Five - Sketches in the Making */
.issue-five {
  z-index: 6;

  background-image: url("../media/img/issue-five/i5_banner.png");
  background-position: 50% 72%;
  background-size: cover;
}

.issue-five h2,
.issue-five p {
  color: black;
}

/* Issue Four - Figures and Spaces */
.issue-four {
  z-index: 5;

  background-image: url("../media/img/issue-four/i4_banner.png");
  background-position: 50% 72%;
  background-size: cover;
}

.issue-four h2,
.issue-four p {
  color: black;
}

/* Issue Three - Keeping it Easy */
.issue-three {
  z-index: 4;

  background-image: url("../media/img/issue-three/i3_banner.png");
  background-position: 50% 72%;
  background-size: cover;
}

.issue-three h2,
.issue-three p {
  color: black;
}

/* Issue Two - Stylin' Summer */
.issue-two {
  z-index: 3;

  background-image: url("../media/img/issue-two/i2_banner.png");
  background-position: 50% 72%;
  background-size: cover;
}

.issue-two h2,
.issue-two p {
  color: black;
}

/* Issue One - Opening the Room */
.issue-one {
  z-index: 2;

  background-image: url("../media/img/issue-one/i1_banner.png");
  background-position: center;
  background-size: cover;
}

.issue-one h2,
.issue-one p {
  color: black;
}
